{% extends 'base.html' %}


{% block head %}
    <title>Commands</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css">
    
{% endblock %}

{% block body %}
    <div id="examples-container">
        {% for example in command_examples %}
        <div data-example-id="{{ example.example_id }}">
            <h2>{{ example.example_caption }}</h2>
            <pre><code class="{{ lang }}">{{ example.example_content }}</code></pre>
        </div>
    {% endfor %}
    </div>
{% endblock %}