{% extends 'base.html' %}


{% block head %}
    <title>Index</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external=True) }}">

    <!-- SCRIPTS -->
    
{% endblock %}


{% block body %}

<div id="main-container">
    <header>
        <nav>
            <h1 class="main-title">Python Reminder</h1> <p>Kai BANTO ECKERT</p>
        </nav>
    </header>

    <section>

        <div class="container" id="container">

            {% for item in items %}
            
            <a href="./{{ item.lower_label }}">
                <div>
                    <p>{{ item.label }}</p>
                </div>
            </a>

            {% endfor %}

            <div class="add-item">
                <button class="add-item-btn" onclick="addItem()">+</button>
            </div>

        </div>

    </section>

    <footer></footer>
    <script src="{{ url_for('static', filename='js/index.js', _external=True) }}"></script>
</div>
{% endblock %}
