{% extends 'base.html' %}


{% block head %}
    <title>Index</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external=True) }}">

    <!-- SCRIPTS -->
    
{% endblock %}


{% block body %}

<div id="main-container">
    <header>
        <nav>
            <h1 class="main-title">Python Reminder</h1> <p>Kai BANTO ECKERT</p>
        </nav>
    </header>

    <section>

        <div class="container" id="container">

            {% for item in items %}
            <div data-item-id={{ item.item_id }}>
                <a class="show-item" href="./cheatsheet/{{ item.item_label }}">
                    <div>
                        <p class="item-label-paragraph">{{ item.item_label|capitalize }}</p>
                    </div>
                </a>
                <div class="option-btns">
                    <a href="/delete_item/{{ item.item_id }}" class="delete-btn options"><i class="fa fa-trash"></i></a>
                    <a onclick="replaceParagraphWithForm(this);" class="update-btn options"><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            {% endfor %}

            <div class="add-item">
                <button class="add-item-btn" onclick="addItem()">+</button>
            </div>

        </div>

    </section>

    <footer></footer>
    <script src="{{ url_for('static', filename='js/index.js', _external=True) }}"></script>
</div>
{% endblock %}
