.main-container {
  display: grid;
  grid-template-areas:
    "h"
    "s"
    "f"
  ;
  height: 100vh;
}

header {
  grid-area: h;
  height: 300px;
  background: #3a6186;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
}

section {
  grid-area: s;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: inherit;
  grid-gap: 10px;
  color: #DEDEDE;
}

footer {
  grid-area: f;
}

.header-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

nav div {
  display: grid;
}

.nav-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 20px;
}

.nav-list a {
  text-decoration: none;
  font-size: 1em;
  color: lightgray;
}

.nav-list a:hover {
  color: white;
  /* text-decoration: underline dotted; */
}

.main-title {
  text-align: center;
}