@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

nav {
  text-align: center;
  margin-top: 50px;
}

.main-title {
  display: inline;
  font-size: 5em;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}

nav p {
  font-size: 1.5em;
  margin: auto;
  margin-top: 50px;
  font-family: 'Liu Jian Mao Cao', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 1fr;
  grid-gap: 15px;
  font-size: 2em;
  margin: 1em 6em 1em 6em;
  padding: 10px;
}

.show-item {
  display: grid;
  margin: auto;
  text-decoration: none;
  height: 200px;
  border: solid 0px lightgray;
  border-radius: 3px;  

  background: #00B4DB;  /* fallback for old browsers */
  
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;

  width: 200px;
}

.show-item:nth-child(2n+1) {
  /* background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
  background: linear-gradient(to right, #0083B0, #00B4DB);  */
  background-color: #2657eb;
}

.show-item:nth-child(2n) {
  /* background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);
  background: linear-gradient(to left, #0083B0, #00B4DB); */
  background-color: #2657eb;
}

.show-item:hover {
  transform: scale(1.05);
}

.show-item div:nth-child(n) {
  margin: auto;
  color: lightgray;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.container form {
  margin: auto;
  display: grid;
}

.container form input {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;;
}

.add-item {
  display: grid;
}

.submit-btn {
  background-color: transparent;
  color: lightgray;  
  border-width: 0px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.submit-btn:hover {
  color: white;
  text-decoration: underline;
}

input {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
}

.add-item-btn {
  margin: auto;
  font-size: 25px;
  height: 50px;
  width: 50px;
  background: lightgray;
  border-radius: 30px;
  border: solid 0px white;
  cursor: pointer;
  transition-property: transform, background, color;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  -moz-transition-property: transform, background, color;
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-property: transform, background, color;
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;  
  -o-transition-property: transform, background, color;
  -o-transition-duration: 500ms;
  -o-transition-timing-function: ease-in-out;
}

.add-item-btn:hover {
  transform: scale(1.1);
  background: white;
  color: #00B4DB;
}

.option-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.options {
  display: inline;
  text-decoration: none;
  margin: 20px 10px;
  cursor: pointer;
  font-size: 0.6em;
  background-color: transparent;
  color: lightgray;
  transition-property: color, transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.options:hover {
  color: #de6161;
  transform: scale(1.5) rotate(15deg);
}

.options i {
  display: inline;
}

.overlaid-form {
  height: 200px;
  width: 200px;
  background-color: #2657eb;
  border-radius: 3px;
}

#label {
  height: 16px;
  margin: auto;
  margin-bottom: 5px;
}

#update-submit-btn {
  margin: auto;
  margin-top: 5px;
}

.form-add-div {
  display: grid;
}

.form-add-div:nth-child(n) {
  margin: auto;
}